footer{
    background-color: #2a2121;
    color: white;
    padding: 20px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      align-items: center;
      padding-bottom: 50px;


   }
   
   .footer{
      color: #f4f4f4;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
}

  .footer a:hover{
    text-decoration: underline;
    color: #ff5733;

   }