.navbar {
    width: 100%;
    height: 100px;
    background-color: #664343;
    display: flex;
    flex-direction: row;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;

}

.navbar .leftSide h1 {
    font-size: 40px;
    color: #FFF0D1;
}



.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: #e3dbd3;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
}





.navbar .rightSide svg {
    font-size: 30px;
        color: #e3dbd3;
        padding-top: 10px;
        padding-left: 10px;
}



.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 10px;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open h1 {
    display: none;
}

.navbar #open {
    padding-left: 0px;
}


@media only screen and (max-width: 768px) {

    .navbar .rightSide a {
        display: none;
    }

    .navbar .rightSide {
        justify-content: flex-end;
        padding: 0 20px;
    }

    .navbar .leftSide .hiddenLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        margin: 0px;
    }

    .navbar {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: auto;
        background-color: #664343;
    }

    .navbar .toggleButton {
        display: block;
        padding-top: 30px;
        padding-left: 30px;
    }
}



@media only screen and (min-width: 768px) {
    .navbar .toggleButton {
        display: none;
    }

    .navbar .leftSide .hiddenLinks {
        display: none;
    }

    .navbar #open .hiddenLinks {
        display: none;
    }

    .navbar #open h1 {
        display: block;
            padding-left: 80px;
    }
}