.search-container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    position:relative;
    background-color:  #b7a0a0 ;
    margin: auto;
  }
  
  .search-bar {
    display:flex;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #3e2d2d;
    width:100%;
  }
  
  .search-input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: 2px solid #946f1f;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    width:100%;
    background-color: #dbcbcb;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #4a90e2;
    
  }
  .search-icon {
    font-size: 35px;
    color: #3e2d2d;
  }
  
  .search-button {
    padding: 0.8rem 1.5rem;
    
    background-color:#d8cdb6 ;
    border: none;
    border-radius: 10px;
    
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #357abd;
  }
  
  .search-results {
    margin-top: 2rem;
  }
  
  .results-title {
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  
  .user-profile {
    background-color: white;
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color:#333
  }
  
  .user-profile:hover {
    transform: translateY(-3px);
  }
  
  .user-profile h3 {
    margin: 0 0 10px 0;
    color: #241f1e !important;
    font-size: 45px;
  }
  
  .user-profile p {
    color: #b8adad;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .user-profile h4 {
    color: #aaa195;
    margin: 0.5rem 0;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .skill-item {
    background-color: #f0f7ff;
    color: #524235;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  
  .no-results {
    text-align: center;
    color: #666;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 8px;
  }